<ion-view view-title="Contact us">
  <ion-content>
    <p class="item item-icon-left">
    	<i class="icon ion-email"></i>
    	test@gmail.com
    </p>
    <p class="item item-icon-left">
    	<i class="icon ion-ios-telephone"></i>
    	0123456789
    </p>
    <p class="item item-icon-left">
    	<i class="icon ion-social-facebook"></i>
    	M. Zarioh
    </p>    
    <p class="item item-icon-left">
    	<i class="icon ion-social-twitter"></i>
    	@zariohlebg
    </p>
    <p class="item item-icon-left">
    	<i class="icon ion-social-linkedin"></i>
    	Abdellah Zarioh
    </p>        

  </ion-content>
</ion-view>
