
<div class="bar bar-header bar-calm">
  <h1 class="title">Welcome !</h1>
</div>


<form ng-submit="doLogin()">
  <div class="list">
    <label class="item item-input" style="margin-top: 50px;">
      <span class="input-label">Username</span>
      <input type="text" ng-model="loginData.username">
    </label>
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password" ng-model="loginData.password">
    </label>
    <label class="item">
      <button class="button button-block button-positive" type="submit"  >Log in</button><!-- ui-sref="app.pendingRequests" -->
    </label>

  </div>
</form>
<div id="ConnexionError" style="display:none;color:red;">
  Invalid password and/or username.
</div>
<a class="button button-full button-clear button-positive" ui-sref="signUp"> Sign up</a>


