<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
      <ion-item class="item item-icon-left" ui-sref="signUp">
        <i class="icon ion-gear-b"></i>
        Account Settings
      </ion-item>


      <ion-item class="item item-icon-left" ui-sref="app.paymentMethods">
		<i class="icon ion-card"></i>
        Payment methods
      </ion-item>

      <ion-item class="item item-icon-left" ui-sref="app.conditions">
        <i class="icon ion-clipboard"></i>
        Conditions
      </ion-item>

      <ion-item class="item item-icon-left" ui-sref="app.about">
        <i class="icon ion-help-circled"></i>
        About
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


