	<!-- FIRST PAGE DISPLAYED -->

<div class="imageContainer">
	<img class="headerImage" alt="TAFISA" style="margin-top:10%; width:95%"/>

</div>
<hr class="headerShade"/>  

<div class="buttonContainer">
	<ion-content class="padding" >
		<div class="homeMenu">
			<button class="button button-block button-large whiteFont" style="background-color:#bf1e2b;" ng-click="collectionGames()">
			  	Games
			</button>
			<button class="button button-block button-large whiteFont" style="background-color:#2baf2b;" ng-click="mapGames()">
				 Map
			</button>
			<button class="button button-block button-large whiteFont" style="background-color:#E5C00E;" ng-click="randomGame()">
			  	Random Game
			</button>	
			<button class="button button-block button-large whiteFont" style="background-color:#ef7a1f;" ng-click="connected()">
			  	My games
			</button>
		</div>

	</ion-content>
</div>


<div class="row padding partnerContainer">
	<div class="col col-30">
		<img class="tafisaLogo" alt="TAFISA LOGO"/>
	</div>
	
	<div class="col col-30">
		<img class="design2moveLogo" alt="DESIGNED TO MOVE LOGO"/>
	</div>
	
	
	<div class="col col-30">
		<img class="eu_commissionLogo" alt="EU COMMISSION LOGO"/>
	</div>
</div>

