<ion-view view-title="Other">
	<ion-content>
		<div class="marginBottom">
		<!-- ABOUT ITEM -->
		<ion-item class="item item-icon-left" ng-click="showAbout()" >
		  	<i class="icon ion-help-circled"></i>
		 	 About
		</ion-item>

		<!-- ABOUT CONTENT -> DISPLAY NONE DEFAULT -->
		<div id="about" style="display:none;">
			<div class="card" style="margin: 10px 10px">
			  	<div class="item item-text-wrap">
			    	Project <b>“Recall: Games of the Past – Sports for Today” </b> is an initiative led by <b>TAFISA</b> and a transnational network of 13 project partners. It aims to reintroduce Traditional Sports and Games (TSG) into the daily lives of young people as a means to tackle social challenges of today – including the epidemics of physical inactivity, by documenting and disseminating TSG heritage worldwide.
			  	</div>
			</div>
		</div>


		<!-- CO-FUNDING ITEM -->
		<ion-item class="item item-icon-left" ng-click="showCoFunding()" >
		  	<i class="icon ion-ribbon-b"></i>
		 	 Co-Funded
		</ion-item>

		<!-- CO-FUNDING CONTENT -> DISPLAY NONE DEFAULT -->
		<div id="coFunding" style="display:none;">
			<div class="card" style="margin: 10px 10px">
			  	<div class="item item-text-wrap">
			    	Project <b>Recall</b> was co-funded by the <b>European Commission</b> from the 1st of January 2015 to the 30th of June 2015.
			  	</div>
			</div>
		</div>



		<!-- PARTNERS ITEM -->
		<ion-item class="item item-icon-left" ng-click="showPartners()" >
		  	<i class="icon ion-ios-people"></i>
		 	 Partners
		</ion-item>

		<!-- PARTNERS CONTENT -> DISPLAY NONE DEFAULT -->
		<div id="partners" class="contactListTxt contactListIcon " style="display:none;">
		   	<p class="item item-icon-left " >
			   <i class="icon ion-ios-person energized" ></i>
			    <a href="http://www.aquitainesportpourtous.com/" target="_blank" style="text-decoration:none; color:#fccf3c">Aquitaine Sport pour Tous</a>
		    </p>
			<p class="item item-icon-left " >
				   <i class="icon ion-ios-person positive" ></i>
				   <a href="http://www.confederacaodascolectividades.com/" target="_blank" style="text-decoration:none; color:#2166ae">Portuguese Confederation of Collectivities</a>				    
			</p>
		    <p class="item item-icon-left " >
			   <i class="icon ion-ios-person assertive" ></i>
			   <a href="http://www.youth-sport.net/" target="_blank" style="text-decoration:none; color:#ff0000">ENGSO Youth</a>			    
		    </p>
		    	<p class="item item-icon-left " >
			   <i class="icon ion-ios-person balanced" ></i>
			   <a href="http://www.eupea.com/" target="_blank" style="text-decoration:none; color:#2baf2b">European Physical Education Association</a>			    
		    </p>
		    	<p class="item item-icon-left " >
			   <i class="icon ion-ios-person energized" ></i>
			   <a href="http://www.pesis.fi/" target="_blank" style="text-decoration:none; color:#ef7a1f">Finnish Baseball Association</a>			    
		    </p>
		    	<p class="item item-icon-left " >
			   <i class="icon ion-ios-person positive" ></i>
			   <a href=" http://www.gaa.ie/" target="_blank" style="text-decoration:none; color:#2166ae">Gaelic Athletic Association</a>			    
		    </p>
		    	<p class="item item-icon-left " >
			   <i class="icon ion-ios-person assertive" ></i>
			   <a href="http://www.gerlevlegepark.dk/" target="_blank" style="text-decoration:none; color:#ff0000">Gerlev Play Park</a>			    
		    </p>
		    	<p class="item item-icon-left " >
			   <i class="icon ion-ios-person balanced" ></i>
			   <a href="http://magyaredzo.hu/" target="_blank" style="text-decoration:none; color:#2baf2b">Hungarian Coaching Association</a>			    
		    </p>
		    	<p class="item item-icon-left " >
			   <i class="icon ion-ios-person energized" ></i>
			    <a href="http://www.dshs-koeln.de/en/institute-of-european-sport-development-and-leisure-studies/" target="_blank" style="text-decoration:none; color:#fccf3c">Institute of European Sport Development and Leisure Studies, German Sport University Cologne</a>
		    </p>
		 
		    <p class="item item-icon-left " >
			   <i class="icon ion-ios-person positive" ></i>
			    <a href="http://sportetcitoyennete.com/en/index.htm" target="_blank" style="text-decoration:none; color:#2166ae">Think Tank Sport and Citizenship</a>
		    </p>
		    	<p class="item item-icon-left " >
			   <i class="icon ion-ios-person assertive" ></i>
			    <a href="http://www.ittralee.ie/en/InformationAbout/Research/ResearchCentres/UNESCOChairinInclusivePhysicalEducationSportFitnessandRecreation/" target="_blank" style="text-decoration:none; color:#ff0000">UNESCO Chair, IT Tralee</a>
		    </p>
		    	<p class="item item-icon-left " >
			   <i class="icon ion-ios-person balanced" ></i>
			    <a href="http://www.awf.poznan.pl/" target="_blank" style="text-decoration:none; color:#2baf2b">University School of Physical Education Poznań</a>
		    </p>
			    	
		</div>


		<!-- CONTACT ITEM -->
		<ion-item class="item item-icon-left" ng-click="showContact()">
		  	<i class="icon ion-chatbubbles"></i>
		  	Contact
		</ion-item>

		<!-- CONTACT LIST CONTENT -> DISPLAY NONE DEFAULT -->
		<div id="contact" class="contactListTxt contactListIcon " style="display:none; ">
			<p class="item item-icon-left " >
			   <i class="icon ion-email energized" ></i>
			    <a href="mailto:info@tafisa.net" target="_blank" style="text-decoration:none; color:#ef7a1f">info@tafisa.net</a>
		    </p>
		
		    <p class="item item-icon-left ">
			   <i class="icon ion-social-facebook positive"></i>
			   <a href="https://www.facebook.com/pages/TAFISA/321354705644"  target="_blank" style="text-decoration:none; color:#2166ae"> facebook.com/pages/TAFISA</a>
			  
		    </p>    
		    <p class="item item-icon-left ">
			   <i class="icon ion-social-twitter calm"></i>
			   <a href="https://twitter.com/tafisaoffice" target="_blank" style="text-decoration:none; color:#2baf2b">@TafisaOffice </a>
			   
		    </p>
		 <!--    <p class="item item-icon-left">
			   <i class="icon ion-social-linkedin positive"></i>
			   TAFISA
		    </p> -->        
		</div>
		</div>
	</ion-content>
</ion-view>
